In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")
driver.get("https://www.naukri.com/")

In [7]:
d=driver.find_element(By.CLASS_NAME,"suggestor-input")
d.send_keys("Data Analyst")

In [10]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [27]:
job_titl=[]
title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title[0:10]:
    title=(i.text)
    job_titl.append(title)
    

    
co_name=[]
co_nam=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in co_nam[0:10]:
    co_nam=(i.text)
    co_name.append(co_nam)
    
job_loc=[]
loc=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in loc[0:10]:
    loc=(i.text)
    job_loc.append(loc)
    
job_exp=[]
exp=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp[0:10]:
    exp=(i.text)
    job_exp.append(exp)

In [28]:
print(len(job_titl),len(job_loc),len(co_name),len(job_exp))

10 10 10 10

In [29]:
import pandas as pd
df=pd.DataFrame({'title':job_titl,'location':job_loc,'company':co_name,'experirnce':job_exp})
df

,title,location,company,experirnce
0,Data Analyst,Noida,Paytm,2-4 Yrs
1,"Data Analyst - MSBI, Python",Noida,Optum,3-6 Yrs
2,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...","KPI Partners, Inc.",3-5 Yrs
3,Urgent Hiring | Data Analyst with GCP experience,"Temp. WFH - Noida, Pune, Bangalore/Bengaluru, ...",Infogain,2-7 Yrs
4,Data Analyst,"Noida, Ghaziabad, Greater Noida",ITS The Education Group,1-4 Yrs
5,Data Analyst - Noida(WFO),Noida,Notion Online Solutions,3-6 Yrs
6,Data Analyst,Gurgaon/Gurugram,GM Analytics Solutions,2-5 Yrs
7,Data Analyst,Permanent Remote,Techplus Media,3-5 Yrs
8,Data Analyst - Stata,Permanent Remote,Quest Research And Development Private Develop...,1-6 Yrs
9,Data Analyst,Gurgaon/Gurugram,Acme Services,2-5 Yrs