In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.8.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [18]:
driver=webdriver.Chrome(r"D:\flip robo\chromedriver.exe")

In [19]:
driver.get("https://www.naukri.com/")

In [20]:
d=driver.find_element(By.CLASS_NAME,"suggestor-input")
d.send_keys("Data Analyst")

In [22]:
l=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/input")
l.send_keys("Banglore")

In [23]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [29]:
job_title=[]
title=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title[0:10]:
    title=i.text
    job_title.append(title)
    
job_loc=[]
titles=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in titles[0:10]:
    titles=i.text
    job_loc.append(titles)
    
c_name=[]
titl=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in titl[0:10]:
    titl=i.text
    c_name.append(titl)
    
experince=[]
titll=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in titll[0:10]:
    titll=i.text
    experince.append(titll)

In [30]:
print(len(job_title),len(job_loc),len(c_name),len(experince))

10 10 10 10

In [31]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_loc,'company':c_name,'experirnce':experince})
df

,title,location,company,experirnce
0,Data Analyst,Bangalore/Bengaluru,Enrich Talents,0-4 Yrs
1,Data Analyst - Pharma/HLS Domain,"Mumbai, Pune, Chennai, Gurgaon/Gurugram, Banga...",Fractal Protocol,4-9 Yrs
2,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,ANZ,5-10 Yrs
3,"Data Analyst, IND Blr Grp 4.3",Bangalore/Bengaluru,ANZ,5-10 Yrs
4,Data Analyst,"Hybrid - Hyderabad/Secunderabad, Chennai, Bang...",People De Code Solutions,4-9 Yrs
5,Graduate Data Analyst,Hybrid - Bangalore/Bengaluru,Kwalee India,0-2 Yrs
6,Data Analyst,Bangalore/Bengaluru,Alp Consulting Ltd,2-4 Yrs
7,Data Analyst,Hybrid - Bangalore/Bengaluru,Spire Technology,0-0 Yrs
8,Data Analyst,Bangalore/Bengaluru,Entrupy,1-3 Yrs
9,Data Analyst,Bangalore/Bengaluru,Trusting Social,4-6 Yrs